.Users {
  h1 {
    margin-bottom: 30px;
    font-weight: 700;

    @media (max-width: 768px) {
      font-size: 30px;
    }
  }
  .search-wrapper {
    margin: 0 auto;
    .fa-search {
      left: 30px;
      top: 15px;
      position: absolute;
    }
    input {
      padding-left: 40px;
    }
  }
  .table-wrap {
    @media (min-width: 916px) {
      display: block;
    }
    display: none;
    width: 90%;
    margin: 0 auto;
    text-align: center;
    table {
      width: 100%;
      box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.4);
      border-radius: 10px;
      margin: 40px 0px;

      thead {
        background: #001e3c;
        color: #fff;
        th {
          text-align: left;
          padding: 10px;
          &:first-child {
            border-top-left-radius: 8px;
          }
          &:last-child {
            border-top-right-radius: 8px;
          }
        }
      }
      tbody {
        tr {
          text-align: left;

          &:last-child {
            td {
              &:first-child {
                border-bottom-left-radius: 8px;
              }
              &:last-child {
                border-bottom-right-radius: 8px;
              }
            }
          }

          &.current-user {
            border-top: none;
            background: #9fd38a !important;
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
            td {
              &:first-child {
                .fas {
                  color: #001e3c;
                  font-size: 20px;
                }
                span {
                  display: inline-block;
                  margin-left: 10px;
                }
              }
              &:last-child {
                text-align: left;
                .fas {
                  padding-left: 10px;
                  color: #001e3c;
                }
              }
            }
          }

          &.other-user {
            &:last-child {
              td {
                &:first-child {
                  border-bottom-left-radius: 8px;
                }
                &:last-child {
                  border-bottom-right-radius: 8px;
                }
              }
            }
          }

          &:nth-child(odd) {
            background: #eeeeee;
          }
          td {
            padding: 10px;
            &:nth-child(1) {
              min-width: 140px;
            }
          }
          .comment-info {
            word-break: break-all;
          }

          .userMap {
            .fas {
              width: 40px;
              text-align: end;
              cursor: pointer;
            }
          }

          .fas {
            &.hoverable {
              transition: all 0.3s ease-in-out 0s;
              &.map-current-user {
                &:hover {
                  color: #757575 !important;
                }
              }
              &:hover {
                color: #9fd38a;
              }
            }
          }
        }
      }
    }
  }

  .mobile-table-wrapper {
    @media (max-width: 916px) {
      display: block;
    }
    display: none;
    margin-top: 40px;
    .mobile-item {
      &.current-user {
        background: #c8e6c9 !important;
      }
      margin: 0px;
      background-color: #fff;
      &:nth-child(odd) {
        background: #e5e5e5;
      }
      .col-8 {
        text-align: left;
      }
      .comment-info {
        p {
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }
      }
      p {
        margin: 10px 0px;
      }
      button {
        margin: 10px auto 20px auto;
      }
    }
  }
}
