@import "./modal.scss";
@import "./card.scss";
@import "./input.scss";
@import "./form-group.scss";
@import "./spinner.scss";

input,
select,
textarea {
  //background-color: $nästan-vit;
  border: 1px solid #807569;
  border-radius: 4px;
  color: #4d4844; //$varm-grå-alt;
  font-size: 16px;
  width: 100%;
  box-sizing: border-box;
  padding-left: 16px;

  &:focus {
    background-color: #fff;
    border-color: #2b241c;
    outline: none;
  }

  &.invalid {
    margin: 0px 0px !important;
  }

  &:disabled {
    opacity: 0.5;
  }

  &::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #6e6054;
    opacity: 1; /* Firefox */
  }
}

h1 {
  margin-bottom: 30px;
  font-weight: 700;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
label,
a {
  color: #001e3c;
}

.swal-button {
  background-color: #001e3c;
}

.swal-button:not([disabled]):hover {
  background-color: rgb(17, 29, 71);
}

label {
  font-size: 16px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.44;
  letter-spacing: normal;
  margin-bottom: 4px;
  display: block;
  text-align: left;
  padding-left: 5px;
}

.fade-enter-active,
.fade-leave-active {
  transition-duration: 0.3s;
  transition-property: opacity;
  transition-timing-function: ease;
}

.fade-enter,
.fade-leave-active {
  opacity: 0;
}
